//Splash Screen Layout
.robin-logo {
  margin-top: 1em;
  margin-left: .5em;
}
@media only screen and (min-width: 58.75em) {
    margin-left: 0;
  }
.splash {
  /*background: url('http://placehold.it/1300x600') center center fixed;*/
  background: url('../../images/dani-splash.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
    padding: emCalc(50px);
}

.store-context {
  margin: $slide-margin;
}

.store-problems {
  margin: $slide-margin;
}

.solution {
  margin: $slide-margin;
}

.solution-context {
  background: url('http://placehold.it/1400x800') center center no-repeat;
  height:100vh;
  margin: $slide-margin;
}