//Splash Screen Layout
.splash {
  /*background: url('http://placehold.it/1300x600') center center fixed;*/
  background: url('../../images/HolidayShoppers.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.store-context {
  margin: $slide-margin;
}

.store-problems {
  margin: $slide-margin;
}

.solution {
  margin: $slide-margin;
}

.solution-context {
  background: url('http://placehold.it/1400x800') center center no-repeat;
  height:100vh;
  margin: $slide-margin;
}