// Modules

//Minisite navigation
// .minisite.dropdown {
//   background: $dark-red;
//   li a {
//     font-weight: 300;
//   }
// }

//Logo?
.logo-wrap {
  float: left;
}
.logo-wrap #logo {
  width: 89px;
  height: 26px;
  background: url('../../images/robin-type-white.png') top left no-repeat scroll;
  background-size: 100%;
  margin: 3px 0 0 0;
  padding: 0;
  line-height: 1.0em;
}
.ir {
  background-color: transparent;
  border: 0px none;
  overflow: hidden;
}

.storeImage {
  padding: 6px;
  background: white;
  border: 1px solid #e0e0e0;
}

.submit-button {
  background: $robin-red;
}