.splashHeader {
  font-weight: 600;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 0;
  font-size: emCalc(24px);
  text-shadow: 1px 1px #32383E;
}

h1.splashSubheader{
  margin-top: 0;
  margin-bottom: 0;
  font-size: emCalc(18px);
}
.splashContext {
  color: whitesmoke;
  font-weight: 300;
  font-size:emCalc(16px);
  span {
    font-weight: 600;
    color: $robin-red;
  }
}
@media only screen and (min-width: 58.75em) {
  .splashHeader {
    font-size: 4.85em;
    text-shadow: 4px 4px #32383E;
  }
  h1.splashSubheader {
    font-size: emCalc(48px);
  }
  .splashContext {
    font-size:emCalc(16px);
  }
}
/*
h2 {
  font-weight: 600;
  font-size: 1.875em;
  color: #32383E;
  margin-top: 0;
  &:first-of-type {
    margin: emCalc(100px)  auto 0 auto;
  }
}

h3 {
  font-weight: 400;
  font-size: 1.625em;
  color: #FD4B46;
  margin-top: 0;
  &:first-of-type {
    margin: emCalc(100px)  auto 0 auto;
  }
}

h4 {
  font-weight: 600;
  font-size: 1.0em;
  color: #32383E;
  margin-top: 0;
  &:first-of-type {
    margin: emCalc(100px)  auto 0 auto;
  }
}

h5 {
  font-weight: 400;
  font-style: italic;
  font-size: 0.875em;
  color: #FD4B46;
  margin-top: 0;
  text-transform: uppercase;
  &:first-of-type {
    margin: emCalc(100px)  auto 0 auto;
  }
}

p{
	font-weight: 500;
	font-size: 1.0em;
}
*/