//Color Palette
$robin-red:#EE3F46;
$dark-red:#EB3349;
$orange:#FD4B46;
$dark-orange:#F45D43;
$navy:#32383E;
$dark-navy:#252A2E;
$light-navy:#9CAFBE;
$yellow:#FFC274;
$blue:#2D99D3;
$light-blue:#5EBEFF;
$gray:#666666;
$border-gray:#EEEEEE;
$background-gray:#F5F5F5;





//Slide Variables
$slide-margin: 4em 0;
